<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
    <link rel="stylesheet" href="/public/styles/modules.css">
    <title>Document</title>
</head>
<body>
    <p>
        search by titel or author
    </p>
    <form action="/searches" method="POST">

    <input type="text" name="input" placeholder="inter a titel or author">
    <input type="radio" name="select" value="titel" id="titelId">
    <input type="radio" name="select" value="author" id="authorId">
    <input type="submit"value="search">
    </form>
</body>
</html>