<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <link rel="stylesheet" href="/styles/style.css">
 
    <title>Document</title>
</head>
<body>
    <header>
        BOOKS!
    </header>

    <h1 class="headerText"> Search by Title or Author</h1>

    <div class="form">

    <form action="/searches" method="POST">

    <input id="inputText" type="text" name="input" placeholder="enter a title or author">

    <div class="titleButton">
    <label for="titelId">Title</label>
    <input  type="radio" name="select" value="title" id="titelId" >
</div>



<div class="authorButton">
    <label for="authorId">Author</label>
    <input type="radio" name="select" value="author" id="authorId">
    
</div>
    
    <input id="seachButton" type="submit"value="Search The Google Books API">
    </form>

</div>

    
    <footer>
        <ul>
            <li> <i class="fas fa-circle"></i></li>
            <li> <i class="fas fa-circle"></i></li>
            <li> <i class="fas fa-circle"></i></li>
            <li> <i class="fas fa-circle"></i></li>
        </ul>
    </footer>
</body>
</html>