<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% books.forEach(book => { %>
            <li> 
                <img src="<%= book.image %>" alt="">
                <h2><%= book.titel %></h2>
                <h3><%= book.author%></h3>
                <p><%= book.decr%></p>


            </li>

        <%})%>
  
    </ul>
    <ul>
        <li>
            ahmad
        </li>
    </ul>
</body>
</html>