
/* header{
    background-color: rgba(0, 0, 0, 0.76);
    color: blanchedalmond;
    width: 100%;
    height: 8vh;
   padding-top: 1%;
}

.headerText{
    color: rgba(245, 241, 236, 0.877);
    background-color: rgb(82, 81, 81);
    width: 100%;
    height: 6vh;
    padding-top: 1%;
    align-items: center;
    text-align: center;

} */



body{
   
    background-color: #A6A6A6;
    width:100%;
    
}

/* 
footer{
    background-color: rgba(0, 0, 0, 0.658);
      margin-top: 50px;
      overflow: hidden;
}
 footer ul   {
   
    display: flex;
    align-items: center;
    text-align: center;
    
    
}


footer ul li{
    color: rgba(231, 225, 225, 0.767); 
    margin-left: 20%;
}  */


main{
    width:100%;

    height: auto;
    
   
}

ul{
    width:100%;
  
    margin-left: auto;
    margin-right: auto;
   
 
    background-color: gray;
}

.renderedList{
  
    margin: auto;
    margin-bottom: 7%;
    border: 2px solid black;
    width: 60%;
    height: 120vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #A6A6A6;
 
}


.renderedList img{
 
 padding: 3%;
 width: 30%;
}

.renderedList h2, h3{
   
    width: 40%;
    margin: auto;
    padding: 1%;
    color: wheat;
  
   }

.renderedList p{
       width:80%;
       height: auto;
       margin: auto;
       

      
   }

   

/* 
   .footer{
    background-color: rgba(0, 0, 0, 0.658);
    margin-top: 50px;
    overflow: hidden;

   }
   .footerUl{
    display: flex;
    align-items: center;
    text-align: center;

   }
*/
   

